@model ECommerce.Models.NhaCungCap

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>NhaCungCap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaNhaCC" />
            <div class="form-group">
                <label asp-for="TenNhaCC" class="control-label"></label>
                <input asp-for="TenNhaCC" class="form-control" />
                <span asp-validation-for="TenNhaCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSoThue" class="control-label"></label>
                <input asp-for="MaSoThue" class="form-control" />
                <span asp-validation-for="MaSoThue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
