
@{
    ViewData["Title"] = "TrangSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--//////////////////////////////////////////////////-->
<!--///////////////////TrangSanPham//////////////////-->
<!--//////////////////////////////////////////////////-->
<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Trang Sản Phẩm</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="main-content" class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="products">
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="product">
                                    <div class="image"><a href="product.html"><img src="~/User/images/iphone.png" /></a></div>
                                    <div class="caption">
                                        <div class="name"><h3><a href="product.html">Iphone5</a></h3></div>
                                        <div class="price">10,000,000đ</div>
                                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="product">
                                    <div class="image"><a href="product.html"><img src="~/User/images/galaxy-s4.jpg" /></a></div>
                                    <div class="caption">
                                        <div class="name"><h3><a href="product.html">Samsung Galaxy S3</a></h3></div>
                                        <div class="price">5,000,000đ</div>
                                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="product">
                                    <div class="image"><a href="product.html"><img src="~/User/images/galaxy-note.jpg" /></a></div>
                                    <div class="caption">
                                        <div class="name"><h3><a href="product.html">Samsung Galaxy Note</a></h3></div>
                                        <div class="price">6,000,000đ</div>
                                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="products">
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="product">
                                    <div class="image"><a href="product.html"><img src="~/User/images/iphone.png" /></a></div>
                                    <div class="caption">
                                        <div class="name"><h3><a href="product.html">Iphone5</a></h3></div>
                                        <div class="price">10,000,000đ</div>
                                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="product">
                                    <div class="image"><a href="product.html"><img src="~/User/images/galaxy-s4.jpg" /></a></div>
                                    <div class="caption">
                                        <div class="name"><h3><a href="product.html">Samsung Galaxy S3</a></h3></div>
                                        <div class="price">5,000,000đ</div>
                                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="product">
                                    <div class="image"><a href="product.html"><img src="~/User/images/galaxy-note.jpg" /></a></div>
                                    <div class="caption">
                                        <div class="name"><h3><a href="product.html">Samsung Galaxy Note</a></h3></div>
                                        <div class="price">6,000,000đ</div>
                                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="products">
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="product">
                                    <div class="image"><a href="product.html"><img src="~/User/images/iphone.png" /></a></div>
                                    <div class="caption">
                                        <div class="name"><h3><a href="product.html">Iphone5</a></h3></div>
                                        <div class="price">10,000,000đ</div>
                                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="product">
                                    <div class="image"><a href="product.html"><img src="~/User/images/galaxy-s4.jpg" /></a></div>
                                    <div class="caption">
                                        <div class="name"><h3><a href="product.html">Samsung Galaxy S3</a></h3></div>
                                        <div class="price">5,000,000đ</div>
                                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-xs-12">
                                <div class="product">
                                    <div class="image"><a href="product.html"><img src="~/User/images/galaxy-note.jpg" /></a></div>
                                    <div class="caption">
                                        <div class="name"><h3><a href="product.html">Samsung Galaxy Note</a></h3></div>
                                        <div class="price">6,000,000đ</div>
                                        <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>
            <div id="sidebar" class="col-md-4">
                <div class="widget wid-categories">
                    <div class="heading"><h4>Danh Mục</h4></div>
                    <div class="content">
                        <ul>
                            <li><a href="#">PC Computers</a></li>
                            <li><a href="#">Laptops & Notebooks</a></li>
                            <li><a href="#">Mobiles & Tablet</a></li>
                            <li><a href="#">Software</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget wid-discouts">
                    <div class="heading"><h4>Theo Giá</h4></div>
                    <div class="content">
                        <label class="checkbox"><input type="checkbox" name="discount" checked="">Từ 1,000,000đ--->2,000,000đ</label>
                        <label class="checkbox"><input type="checkbox" name="discount" checked="">Từ 2,000,000đ--->5,000,000đ</label>
                        <label class="checkbox"><input type="checkbox" name="discount" checked="">Từ 5,000,000đ--->10,000,000đ</label>
                        <label class="checkbox"><input type="checkbox" name="discount" checked="">Từ 10,000,000đ--->15,000,000đ</label>
                        <label class="checkbox"><input type="checkbox" name="discount" checked="">Từ 15,000,000đ--->20,000,000đ</label>
                    </div>
                </div>
                <div class="widget wid-brand">
                    <div class="heading"><h4>Theo Thương Hiệu</h4></div>
                    <div class="content">
                        <label class="checkbox"><input type="checkbox" name="brand">Nokia</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Samsung</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Iphone</label>
                        <label class="checkbox"><input type="checkbox" name="brand">HTC</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Oppo</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Kings</label>
                        <label class="checkbox"><input type="checkbox" name="brand">Zumba</label>
                    </div>
                </div>
                <div class="widget wid-product">
                    <div class="heading"><h4>Sản Phẩm Tương Tự</h4></div>
                    <div class="content">
                        <div class="product">
                            <a href="#"><img src="~/User/images/galaxy-note.jpg" /></a>
                            <div class="wrapper">
                                <h5><a href="#">Samsung Galaxy Note 2</a></h5>
                                <div class="price">6,000,000đ</div>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="#"><img src="~/User/images/galaxy-s4.jpg" /></a>
                            <div class="wrapper">
                                <h5><a href="#">Samsung Galaxy S3</a></h5>
                                <div class="price">5,000,000đ</div>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="#"><img src="~/User/images/Z1.png" /></a>
                            <div class="wrapper">
                                <h5><a href="#">Sony Z</a></h5>
                                <div class="price">8,000,000đ</div>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	